PUBLIC_SUPABASE_URL=https://etodkwdlsrzrufxxbsgh.supabase.co
PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImV0b2Rrd2Rsc3J6cnVmeHhic2doIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQzNzUzOTcsImV4cCI6MjA4OTk1MTM5N30.SR0da3nt9Va0qhO3usl14hf3LLL_0Jdt5NKtRjhFSQI
