@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #964900;
  --color-primary-container: #f48120;
  --color-on-primary-container: #5a2900;
  --color-secondary: #3c6a00;
  --color-secondary-container: #b8f47a;
  --color-error: #ba1a1a;
  --color-error-container: #ffdad6;
  --color-background: #fef7ff;
  --color-surface: #fef7ff;
  --color-surface-container: #f9f1fd;
  --color-surface-container-highest: #e7e0eb;
  --color-surface-container-lowest: #ffffff;
  --color-on-surface: #1d1a22;
  --color-on-surface-variant: #564336;
  --color-outline-variant: #ddc1b0;
}

.dark {
  --color-primary: #FF985E; /* Naranja/Durazno vibrante y sofisticado */
  --color-primary-container: #5C2D0C;
  --color-on-primary-container: #FFDDB8;
  --color-secondary: #96C97A; /* Verde salvia elegante */
  --color-secondary-container: #2D4518;
  --color-error: #F87171;
  --color-error-container: #450A0A;
  --color-background: #09090B; /* Zinc 950 - Premium dark background */
  --color-surface: #09090B; /* App Background */
  --color-surface-container: #27272A; /* Inputs background (Zinc 800) */
  --color-surface-container-highest: #3F3F46; /* Inputs highlight (Zinc 700) */
  --color-surface-container-lowest: #18181B; /* Cards background (Zinc 900) */
  --color-on-surface: #F4F4F5; /* Zinc 100 - Off-white para legibilidad elegante */
  --color-on-surface-variant: #A1A1AA; /* Zinc 400 - Gris para subtítulos */
  --color-outline-variant: #3F3F46; /* Zinc 700 - Bordes sutiles */
}